VITE_SUPABASE_URL=https://icjahaocvwrvrsilpqwy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljamFoYW9jdndydnJzaWxwcXd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2OTU0MzQsImV4cCI6MjA3NjI3MTQzNH0.M0I3PTom0Nb9KJAnU2WPRwRlHLiz6xTiwxE5GDh-6cY